COLUMN TRANSFORMER

In [1]:
import pandas as pd
import numpy as numpy

In [2]:
df = pd.read_csv("C:\\Users\\Admin\\OneDrive\\Desktop\\DataScience\\DataSets\\covid_toy.csv")

In [3]:
df.sample(5)

    age  gender  fever   cough       city has_covid
59    6  Female  104.0    Mild    Kolkata       Yes
19   42  Female    NaN  Strong  Bangalore       Yes
99   10  Female   98.0  Strong    Kolkata       Yes
3    31  Female   98.0    Mild    Kolkata        No
53   83    Male   98.0    Mild      Delhi       Yes

In [4]:
df['cough'].value_counts()

cough
Mild      62
Strong    38
Name: count, dtype: int64

In [5]:
df['city'].value_counts()

city
Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: count, dtype: int64

# age{numerical}  fever{numerical(float)}  gender{categorical(nominal)} city{categorical(nominal)}  cough{categorical{ordinal}}  = targrt column (LABEL ENCODING) --> has_covid{categorical(nominal)}

In [6]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64