In [22]:
import pandas as pd
import numpy as np

In [23]:
df=pd.read_csv("C:\\Users\\Admin\\OneDrive\\Desktop\\DataScience\\DataSets\\bollywood.csv")

In [24]:
print(df.head(15))

                                   film                   head
0               Uri: The Surgical Strike         Vicky Kaushal
1                          Battalion 609           Vicky Ahuja
2   The Accidental Prime Minister (film)           Anupam Kher
3                        Why Cheat India         Emraan Hashmi
4                        Evening Shadows      Mona Ambegaonkar
5                            Soni (film)  Geetika Vidya Ohlyan
6                          Fraud Saiyaan          Arshad Warsi
7                             Bombairiya          Radhika Apte
8       Manikarnika: The Queen of Jhansi        Kangana Ranaut
9                       Thackeray (film)   Nawazuddin Siddiqui
10                                Amavas             Ali Asgar
11                             Gully Boy         Ranveer Singh
12                             Hum Chaar           Prit Kamani
13                         Total Dhamaal            Ajay Devgn
14                            Sonchiriya  Sushant Singh Rajput

In [26]:
gb=df.groupby('head')

In [33]:
gb.count().sum()

film     1500
dtype: int64

In [34]:
gb.count()

              film
head
Aadar Jain        1
Aadil Chahal      1
Aahana Kumra      1
Aamir Bashir      1
Aamir Khan       10
...             ...
Zara Sheikh       1
Zareen Khan       1
Zayed Khan        3
Zeenat Aman       4
Zulfi Sayed       1

[566 rows x 1 columns]

In [37]:
gb.sum()

                                                          film
head
Aadar Jain                                           Qaidi Band
Aadil Chahal                     Roar: Tigers of the Sundarbans
Aahana Kumra                           Lipstick Under My Burkha
Aamir Bashir                               Raat Gayi Baat Gayi?
Aamir Khan    Thugs of HindostanDangal (film)PK (film)Dhoom ...
...                                                         ...
Zara Sheikh                               Honour Killing (film)
Zareen Khan                                             Aksar 2
Zayed Khan    Sharafat Gayi Tel LeneLove Breakups ZindagiChu...
Zeenat Aman   Sallu Ki ShaadiDil Toh Deewana HaiStrings of P...
Zulfi Sayed                    Taj Mahal: An Eternal Love Story

[566 rows x 1 columns]

In [43]:
gb['head'].count().sort_values(ascending=False).head(10)

head
Akshay Kumar        48
Amitabh Bachchan    45
Ajay Devgn          38
Salman Khan         31
Sanjay Dutt         26
Shah Rukh Khan      22
Emraan Hashmi       21
John Abraham        18
Saif Ali Khan       18
Sunny Deol          17
Name: head, dtype: int64