In [2]:
import pandas as pd

Opening a local csv file

In [3]:
df=pd.read_csv("C:\\Users\\Admin\\OneDrive\\Desktop\\DS_Resources\\ml_campus_x\\100-days-of-machine-learning\\day15-workingWithCsvFiles\\movie_titles_metadata.tsv",names=['sl_no','name','release_year','rating','votes','genres'],sep="\t")

In [4]:
print(df)

    sl_no                        name release_year  rating     votes  \
0      m0  10 things i hate about you         1999     6.9   62847.0
1      m1  1492: conquest of paradise         1992     6.2   10421.0
2      m2                  15 minutes         2001     6.1   25854.0
3      m3       2001: a space odyssey         1968     8.4  163227.0
4      m4                     48 hrs.         1982     6.9   22289.0
..    ...                         ...          ...     ...       ...
612  m612                    watchmen         2009     7.8  135229.0
613  m613                         xxx         2002     5.6   53505.0
614  m614                       x-men         2000     7.4  122149.0
615  m615          young frankenstein         1974     8.0   57618.0
616  m616                   zulu dawn         1979     6.4    1911.0

                                                genres
0                                 ['comedy' 'romance']
1          ['adventure' 'biography' 'drama' 'history']
2                ['action' 'crime' 'drama' 'thriller']
3                     ['adventure' 'mystery' 'sci-fi']
4       ['action' 'comedy' 'crime' 'drama' 'thriller']
..                                                 ...
612  ['action' 'crime' 'fantasy' 'mystery' 'sci-fi'...
613                     ['action' 'adventure' 'crime']
614                                ['action' 'sci-fi']
615                                ['comedy' 'sci-fi']
616     ['action' 'adventure' 'drama' 'history' 'war']

[617 rows x 6 columns]

In [16]:
df=pd.read_csv("C:\\Users\\Admin\\OneDrive\\Desktop\\DS_Resources\\ml_campus_x\\100-days-of-machine-learning\\day15-workingWithCsvFiles\\test.csv",header=1,index_col=1)

In [17]:
print(df.head(5))

             0      city  city_development_index gender  \
enrollee_id
29725        1   city_40                   0.776   Male
11561        2   city_21                   0.624    NaN
33241        3  city_115                   0.789    NaN
666          4  city_162                   0.767   Male

                 relevent_experience enrolled_university education_level  \
enrollee_id
29725         No relevent experience       no_enrollment        Graduate
11561         No relevent experience    Full time course        Graduate
33241         No relevent experience                 NaN        Graduate
666          Has relevent experience       no_enrollment         Masters

            major_discipline experience company_size    company_type  \
enrollee_id
29725                   STEM         15        50-99         Pvt Ltd
11561                   STEM          5          NaN             NaN
33241        Business Degree         <1          NaN         Pvt Ltd
666                     STEM        >20        50-99  Funded Startup

            last_new_job  training_hours  target
enrollee_id
29725                 >4              47       0
11561              never              83       0
33241              never              52       1
666                    4               8       0