In [11]:
import pandas as pd

In [13]:
df=pd.read_csv("C:\\Users\\Admin\\OneDrive\\Desktop\\DataScience\\DataSets\\kohli_ipl.csv")

In [14]:
df.head(5)

   match_no  runs
0         1     1
1         2    23
2         3    13
3         4    12
4         5     1

# Opening a csv file from an URL